*{
    margin: 0px;
    padding: 0px;
    font-family: Tiny5, sans-serif;
    font-weight: 400;
}

nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
}

#divider{
    border: 1px solid grey;
}

#list-item{
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;                                                                     
}

#list-item-sub{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#list-item-sub > div{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 300px){
   nav > ul{
    display: flex;
    list-style: none;
    padding: 10px;
    flex-direction: column;
    align-items: center;
   }
   
   #divider{
    display: none;
   }
}